body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080808;
    color: #E8E8E8;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 500px;
    text-align: center;
    background-color: #111111;
    padding: 40px;
    border-radius: 20px;
    border: 1px solid #242424;
}

h1{
    font-family: 'Cinzel', serif;
    color: #5C0A14;
}

p{
    margin: 25px 0;
    color: #BDBDBD;
}

.botao{
    display: inline-block;
    padding: 12px 24px;
    background-color: #5C0A14;
    color: #E8E8E8;
    text-decoration: none;
    border-radius: 8px;
    font-family: 'Cinzel', serif;
    transition: 0.3s;
}

.botao:hover{
    background-color: #7A0F1E;
}